$colorWhite:                    #fff;
$colorBlack:                    #000;
$colorGray:                     #999;
$colorLightGray:                #ccc;
$colorDarkGray:                 #555;

$colorBorder:                   $colorLightGray;
